@{
    ViewData["Title"] = "İstatistikler";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h6 class="mb-2 f-w-400 text-muted">Proje Sayısı</h6>
                <h4 class="mb-3">
                    @ViewBag.ProjectCount
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h6 class="mb-2 f-w-400 text-muted">Yetkinlik Ortalaması</h6>
                <h4 class="mb-3">
                    @ViewBag.SkillAverage
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h6 class="mb-2 f-w-400 text-muted">Okunmamış Mesaj Sayısı</h6>
                <h4 class="mb-3">
                    @ViewBag.UnreadMessageCount
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h6 class="mb-2 f-w-400 text-muted">Son Mesaj Gönderen</h6>
                <h4 class="mb-3">
                    @ViewBag.LastMessageOwner
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card social-widget-card bg-primary">
            <div class="card-body">
                <h3 class="text-white m-0">@ViewBag.ExperienceYear</h3>
                <span class="m-t-10">Deneyim Yılı</span>
                <i class="fa fa-suitcase"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card social-widget-card bg-info">
            <div class="card-body">
                <h3 class="text-white m-0">@ViewBag.CompanyCount</h3>
                <span class="m-t-10">Çalıştığım Şirket Sayısı</span>
                <i class="fa fa-building"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card social-widget-card bg-dark">
            <div class="card-body">
                <h3 class="text-white m-0">@ViewBag.ReviewAverage</h3>
                <span class="m-t-10">Değerlendirme Ortalaması</span>
                <i class="fa fa-star"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card social-widget-card bg-danger">
            <div class="card-body">
                <h3 class="text-white m-0">@ViewBag.MaxReviewOwner</h3>
                <span class="m-t-10">En Yüksek Değerlendirme Sahibi</span>
                <i class="fa fa-user"></i>
            </div>
        </div>
    </div>
</div>

